$gradient: linear-gradient(to top, rgba(0,0,0,1) , rgba(0,0,0,0.75), rgba(0,0,0,0.5) , rgba(0,0,0,0.75), rgba(0,0,0,1) );
$header_height: 42px;
$footer_height: 32px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.yata_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
    background: $gradient;
    color: whitesmoke;
    height: $header_height;
    
}
footer {
  background: $gradient;
  color: white;
  hegiht: $footer_height;
}
