nav li{
  display: inline-block;
  padding:5px 10px; 
  text-align:center;
}

nav li:hover{
  background-image: linear-gradient(gray, black, gray);
  color: white;
}
    
.row {
  margin-left: 0  !important;
  margin-right: 0 !important;
}

header  a {
  color: white;
}

header ~ a {
  color: white !important;
}

header.li {
  color: yellow !important;
}