.yata_center {
    margin: auto;
}

#yataMenu {
  list-style: inline;
}
#yataHeader {
  background-image: linear-gradient(black, gray, black);
  color: white;
}
#yataMainPage {
   position: relative;
   width: 100%;
	 height: 100%;
}
#yataContent {
  display: flex;
  flex-direction: row;
}
#yataFooter {
background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;

}

#yataLeftSide {
  width: 200px;
  height: 100%;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.yataCollapsed {
  display: none;
  transition: 0.5s;
}

.yataExpanded {
  transition: 0.5s;
}

.yataTblMonitor {
    border: 1px solid blue;
    border-spacing: 0;
    line-height: 10px;
}

.yataTblMonitor p {
    margin: 0;
}

.yataTblMonitorCTC {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
#yataModal {
   position: absolute;
   left: 0;
   top:  0;
   width: 100%;
	 height: 100%;
	 background-color: gray;
	 opacity: 0.75;
   z-index: 100;
   display: none;
}
#yataModalContent {
	 background-color: white;
	 margin: auto;
}

.yataCentered {
  margin: 0 auto;
}
.yataForm {
    width: 100%;
}

.yataDown {
    color: Crimson;
    font-size: 150%;
}
.yataUp {
    color: ForestGreen;
    font-size: 150%;
}

/* Monedas */
.yataDeltaNone {
    font-weight: bold;
    text-align: right;
    margin: 0;
}
.yataDeltaUp {
    color: ForestGreen;
    font-weight: bold;
    text-align: right;
}
.yataDeltaDown {
    color: Crimson;
    font-weight: bold;
    text-align: right;
}

.yataCellIcon {
    padding-left: 16px;
    padding-right: 16px;
}
.yataCellLabel {
    text-align: left;
    padding: 0 1em 0 1em;
    margin: 0;
}
.yataCellData {
    text-align: left;
    padding: 0 1em 0 1em;
    margin: 0;
}
.yataCellCTC {
    text-align: center;
    padding: 0 1em 0 1em;
    margin: 0;
    font-weight: bold;
}

#sessionLastUpdate {
    float: right;
    font-size: 0.8em;
}

.yataMonitors {
    padding-bottom: 1em;
    font-size: 1.25em;
}

.yataMsg {
    font-weight: bold;    
}
.yataMsgerror   { color: red;         }
.yataMsginfo    { color: black;       }
.yataMsgwarning { color: yellow;      }
.yataMsgsuccess { color: ForestGreen; }

.yataBtnIcon {
    color: white;
}