/* Manage colors and skin */

$gradient: linear-gradient(to top, rgba(0,0,0,1) , rgba(0,0,0,0.75), rgba(0,0,0,0.5) , rgba(0,0,0,0.75), rgba(0,0,0,1) );

@mixin header_theme {
  background: black;
  color: whitesmoke;
}

header {
  @include header_theme;
}
footer {
  @include header_theme;
}
.jgg_navbar {
   @include header_theme;
}

// Se sobreescribe en adminlte
.jgg_navbar a {
    @include header_theme;
}
.jgg_navbar a:hover {
  background-color: gold;
}
.jgg_navbar .active {
    color: #FDFEFF;
    font-weight: bold;
}
