/* Manage colors and skin */

$gradient: linear-gradient(to top, rgba(0,0,0,1) , rgba(0,0,0,0.75), rgba(0,0,0,0.5) , rgba(0,0,0,0.75), rgba(0,0,0,1) );

@mixin header_theme {
  background: black;
  color: whitesmoke;
}

$left_side_background: gray;

// AdminLTE
$box_color_bar: navy;
$box_color_text: white;

header {
  @include header_theme;
}
footer {
  @include header_theme;
}
.jgg_navbar {
   @include header_theme;
}

// Se sobreescribe en adminlte
.jgg_navbar a {
    @include header_theme;
}
.jgg_navbar a:hover {
  background-color: gold;
}
.jgg_navbar .active {
    color: #FDFEFF;
    font-weight: bold;
}
.jgg_sidebar_toggle {
    @include header_theme;
}

/* cajas de adminlte */
.box.box-solid.box-primary {
	border: 1px solid $box_color_bar;
}
.box.box-solid.box-primary > .box-header {
	color: $box_color_text;
	background: $box_color_bar;
	background-color: $box_color_bar;
}

.jgg_page_left {
    background-color: $left_side_background;
}
