$header_height: 42px;
$footer_height: 32px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    margin-top:    0.5rem;
    margin-bottom: 0.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top:    0.5rem;
    margin-bottom: 0.25rem;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
/*
.yata_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.yata_container {
  flex: 1;
  overflow: auto;
}

*/
.jgg_page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
header {
  height: $header_height;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  flex-shrink: 0;
}
.jgg_body {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
}
footer {
  height: $footer_height;
  flex-shrink: 0;
}
.jgg_div_center {
    margin: auto;
    width: 50%;
}
.jgg_side_hide {
  display: none;
}
.jgg_header_hide {
  display: none;
}
.jgg_clickable:hover {
    cursor: pointer;
}
.jgg_fluid_row {
    margin: 0px;
}
.jgg_table_form {
    td {
        padding: 0 1px 1px 0;
    }
   .form-group {
       margin-bottom: 0;
    }
    .jgg_table_label {
        padding-right: 12px;
    }
}
