@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}

@mixin translate($x, $y) {
    @include transform(translate($x, $y));
}

$header_height: 42px;
$footer_height: 32px;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    margin-top:    0.5rem;
    margin-bottom: 0.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top:    0.5rem;
    margin-bottom: 0.25rem;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
/*
.yata_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.yata_container {
  flex: 1;
  overflow: auto;
}

*/
.jgg_page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
header {
  height: $header_height;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  flex-shrink: 0;
}
.jgg_body {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
}
footer {
  height: $footer_height;
  flex-shrink: 0;
}

.jgg_clearfix {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Panel de errores
.jgg_panel_err {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: white;
  opacity: 0.8;
}

.jgg_panel_err_container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
   @include translate(-50%, -50%);
}

.jgg_msg_error {
  font-weight: bold;
  color: red;
}
.jgg_text_err {
  font-size: 30px;
  font-weight: bold;
}

// END Panel de errores

.jgg_div_center {
    margin: auto;
    width: 50%;
}
// Control de los botones de abrir/cerrar lados
.jgg_buttons_side_hide {
    visibility: hidden;
}
.jgg_button_side_hide {
  display: none;
}
.jgg_header_hide {
  display: none;
}
.jgg_side_hide {
    display: none;
}
.jgg_clickable:hover {
    cursor: pointer;
}
.jgg_fluid_row {
    margin: 0px;
}
.jgg_table_form {
    td {
        padding: 0 1px 1px 0;
    }
   .form-group {
       margin-bottom: 0;
    }
    .jgg_table_label {
        padding-right: 12px;
    }
}

.jgg_page_left {
    float:left;
    min-height: 92vh;
}

//////////////////////////////////////////////
//  LAYOUT
//////////////////////////////////////////////
.jgg_layout {
    border-style: solid;
    border-color: red;
    min-height: 500px;
}

/* Se usa como selector */
/* .jgg_layout_block_container */

.jgg_layout_block_hidden {
    display: none;
}
.jgg_layout_block {
    display: block;
}
.jgg_layout_full {
    min-height: 100vh;
}
.jgg_layout_detail {
    height: 100vh;
}
.jgg_layout_row {
    width: 100%;
    height: 45vh;
    min-height: 45vh;
}
.jgg_layout_col {
    min-height: 100vh;
}
.jgg_layout_block {
/*
    border-style: solid;
    border-color: black;
    width: 100vw; */
    min-height: 100%;
}
.jgg_layout_object {
    width: 100%;
}
.jgg_layout_data_container {
    display: none;
}
