html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.jgg_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  height: 42px;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  flex-shrink: 0;
}

.jgg_body {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

footer {
  height: 32px;
  flex-shrink: 0;
}

.jgg_body {
    background-color: ivory;
}

.jgg_layout {
    border-style: solid;
    border-color: red;
    min-height: 500px;
}

/* Se usa como selector */
/* .jgg_layout_block_container */

.jgg_layout_block_hidden {
    display: none;
}
.jgg_layout_block {
    display: block;
}
.jgg_layout_full {
    min-height: 100vh;
}
.jgg_layout_detail {
    height: 100vh;
}
.jgg_layout_row {
    width: 100%;
    height: 45vh;
    min-height: 45vh;
}
.jgg_layout_col {
    min-height: 100vh;
}
.jgg_layout_block {
/*
    border-style: solid;
    border-color: black;
    width: 100vw; */
    min-height: 100%;
}
.jgg_layout_object {
    width: 100%;
}
.jgg_layout_data_container {
    display: none;
}
.jgg_layout_data_1 {
    background-color: greenyellow;
}
.jgg_layout_data_2 {
    background-color: gray;
}
.jgg_layout_data_3 {
    background-color: crimson;
}
.jgg_layout_data_4 {
    background-color: aqua;
}
