/* MONITORES y DATATABLE         */
/*********************************/
/* Monitor                       */
/*********************************/

.yata-monitors {
    padding-bottom: 1em;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    padding-top: 12px;
}

.yata-ranks {
    padding-bottom: 1em;
    font-size: 1.25em;
    float: right;
    display: flex;
}

.yata-tbl-monitor {
    border: 1px solid blue;
    border-spacing: 0;
    line-height: 10px;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.yataCellIcon {
    padding-left: 16px;
    padding-right: 16px;
}
.yata-cell-label {
    text-align: left;
    padding: 0 0.5em 0 0.5em;
    margin: 0;
}
.yata-cell-data {
    text-align: right;
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    vertical-align: middle;
    min-width: 5em;
}
.yataCellCTC {
    text-align: center;
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    font-weight: bold;
}

.yataCellGroup {
    padding-top: 6px;
    vertical-align: middle;
}

.yataIconDelta {
    display: flex;
}

/*
table.dataTable.yata-table {
    border: 1px solid red;
}
*/

table.dataTable.yata-table thead th,
table.dataTable.yata-table thead td {
    padding: 2px;
}

table.dataTable.yata-table tbody td {
    padding: 2px;
}

table.dataTable.yata-table tbody odd {
    background-color: lightyellow;
}

/*
.yataTblMonitor tr {
    margin: 0;
    padding: 0;
}

.yataTblMonitor tr td {
    margin: 0;
    padding: 0;
}

.yataTblMonitorCTC {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
*/
