import(R6)
import(hash)
import(stringr)
import(crayon)
import(httr)
import(jsonlite)
import(ps)

exportPattern("^[[:alpha:]]+")

#exportPattern("YATA.*")
#exportPattern("yata.*")
#exportPattern("jgg.*")
#exportPattern("propagate.*")
#exportPattern(#"json_.*")
#exportPattern("si.*")
#export(kill)
#export(args2list)
#export(loadTable)
#export(map)
#export(ini)
#export(HashMap)
