
html, body {
  height: 100% ;
  margin: 0;
  padding: 0;
}

.bg-light, .navbar.navbar-default {
	background-color: #000 !important;
	color: #fff;
}
.nav-link {
    color: grey !important;
}
.a.active {
    color: white !important;
}
.navbar {
    padding: 0;
}
