import(R6)
import(hash)
import(stringr)
import(crayon)
import(httr)
import(jsonlite)

exportPattern("YATA.*")
exportPattern("jgg.*")
exportPattern("propagate.*")
exportPattern("json_.*")
export(args2list)
export(loadTable)
export(map)
export(ini)
export(HashMap)
