.jgg_page_loader {
    background-image: url('loading.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.jgg_table_loader {
   background-color: white;
   font-size: larger;
   min-width: 500px;
}

