.yata_container {
   min-height: 100%;
   position: relative;
}
.yata_page {
    min-height: 100%;
    position: relative;
}
.yata_page_left {
/*   width: 200px; */
  height: 100%;
  background-color: lightskyblue;
  overflow-x: hidden;
  transition: 0.5s;
  float: left;
}
.yata_page_right {
/*   width: 200px; */
  height: 100%;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.5s;
}

.yata_header {
/*   width: 100%; */
   height: 42px;
   background-color: black;
   color: white;
}
.yata_body {
/*  height: 100%;*/
  overflow: auto;
  margin-bottom: 32px;
}
#yata_page_body {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}
.yata_footer {
   background-color: black;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 32px;
   color: white;
}
.yata_clearfix {
   display: flex;
   justify-content: center;
   align-items: center;
}
.yata_tab_content {
    display: flex;
    flex-flow: row;
}
.yata_panel_err_container {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform:     translate(-50%, -50%);
   -moz-transform:    translate(-50%, -50%);
   -o-transform:      translate(-50%, -50%);
   transform:         translate(-50%, -50%);
}
.yata_panel_err {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 900;
   background-color: white;
   opacity: 0.8;
}
.yata_text_error {
   font-size: 30px;
   font-weight: bold;
}
.yata_nav_left {
    float: left;
}
/* Iconos de abrir/cerrar paneles */
.yata_button_side_hide {
  display: none;
}
.yata_side_hide {
  display: none;
}
.yata_header_hide {
  display: none;
}

.yata_clickable:hover {
    cursor: pointer;
}

.yata_fluid_row {
    margin: 0px;
}
/*********************************/
/* Basico                        */
/*********************************/
.yata-title {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.yata-title-1 {
  text-align: center;
}

.yata-title-2 {
  text-align: center;
}

.yata-title-3 {
  text-align: center;
}

.yata-title-4 {
  text-align: center;
}

/*************************************
 LAYOUT
**************************************/
.yata_blocks_container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  max-height: 10px;
}

.yata_layout_table {
    border: 1px solid navy;
    border-collapse: collapse;
    margin: 6px;
    width: 95%;
}
.yata_layout_row {
    border-bottom: 1px solid navy;
    border-collapse: collapse;
}
.yata_layout_left {
    border-right: 1px solid navy;
    border-collapse: collapse;
}
.yata_block_hide {
    display: none;
}

/*************************************
 END LAYOUT
 **************************************/

#yata_tab_content {
    padding: 0;
    margin: 0;
}
#yata_left_side {
    color: rgb(255,255,255);
}

#yata_nav_bar {
    padding: 0;
}

.yata_brand {
    margin-left: 3px; /* Como los monitores */
    width: 7rem;      /* Calculado a mano */
}
.yata_number {
  text-align: right;
}

.yata_layout_row  .form-group {
    margin-bottom: 0;
}

.yata_buttons {
  display: flex;
  justify-content: space-around;
}
